a {
  color: plum;
  font-weight: bold;
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image {
  max-height: 70vh;
  max-width: 70vw;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 5%;
  font-size: 3rem;
  color: darkgrey;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 5%;
  font-size: 3rem;
  color: darkgrey;
  z-index: 10;
  cursor: pointer;
  user-select: none; /*In web browsers, if you double-click on some text it will be selected/highlighted. This property can be used to prevent this.*/
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

